:root {
  --sidebar-width: 200px;
}

ul.sidebar {
  position: fixed;
  height: 100vh;
  width: var(--sidebar-width);
  background: var(--clr-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  margin: 0;
}
ul.sidebar li {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  font-size: var(--fs-600);
}
ul.sidebar li:hover {
  text-decoration: underline;
  cursor: pointer;
}
li.close {
  margin-top: 1rem;
}
main {
  width: calc(100% - var(--sidebar-width));
  margin-left: var(--sidebar-width);
}
.screenTitle {
  background: var(--clr-background);
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.screenTitle button {
  background: var(--clr-accent);
  border: none;
  padding: 1rem 2rem;
  font-weight: 600;
  border-radius: 100vw;
  cursor: pointer;
}
.close button {
  background: red;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  width: 100%;
  padding: 2rem;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-secondary);
  padding: 2rem;
  border-radius: 0.5rem;
}
.cardName {
  font-size: var(--fs-600);
  font-weight: 700;
  color: var(--clr-primary);
  cursor: pointer;
}
.cardName:hover {
  color: var(--clr-accent);
}
.subArcTitle {
  font-size: var(--fs-400);
  font-weight: 700;
  margin-top: 1rem;
}
.subArcs {
  max-height: 150px;
  overflow-y: auto;
}
.subArcs li:hover {
  text-decoration: underline;
  cursor: pointer;
}
