---
import Layout from "../layouts/Layout.astro"
import App from "../components/app/App"

import { Auth } from "auth-astro/components"
import { getSession } from "auth-astro/server"

let session = await getSession(Astro.request)
if (!session) return Astro.redirect("/signup")
---

<Layout
  title="QuillArcadia - Dashboard"
  description="Metadescription"
  noNav={true}
  stickyHeader={false}
>
  <Auth>
    {/* Empty div fixes an error, dunno why */}
    <div></div>
    <App client:load userId={session.session.user.id} />
  </Auth>
</Layout>
