---
import Layout from "../layouts/Layout.astro"
---

<Layout title="ArcAide - Dashboard" description="Metadescription">
  <div class="wrapper">Coming soon...</div>
</Layout>

<style>
  div {
    height: 100vh;
    display: grid;
    place-items: center;
  }
</style>
