---
import About from "../components/index/About.astro"
import Layout from "../layouts/Layout.astro"
import Pricing from "../components/Pricing.astro"
import { getSession } from "auth-astro/server"
const session = await getSession(Astro.request)
if (session) {
  Astro.redirect("/dashboard")
}
---

<Layout title="Signup" description="This is the home page" noNav={false}>
  <div class="w-full pt-12 min-h-[100vh] px-12 grid place-items-center">
    <Pricing
      title="Ready to weave more engaging tales and epic adventures?"
      description="QuillArcadia is your personal assistant for creating, managing, and organizing your narratives. Whether you're a Dungeon Master preparing for your next campaign or an author looking to bring your characters to life, QuillArcadia has you covered."
    />
  </div>
</Layout>
