---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Signup" description="This is the home page" noNav={false}>
  <div>
    <button>Register</button>
  </div>
</Layout>

<script>
  const { signIn, signOut } = await import("auth-astro/client")
  document
    .querySelector("button")
    ?.addEventListener("click", () => signIn("auth0"))
</script>

<style>
  div {
    margin-top: 100px;
  }
</style>
