<div class="wrapper flow">
  <h2>Contact Us</h2>
  <form action="https://api.web3forms.com/submit" method="POST">
    <input
      type="hidden"
      name="access_key"
      value="4495a1a2-fa60-4835-b0e5-efbb18151349"
    />
    <fieldset>
      <label for="name">Your Name:</label>
      <input type="text" name="name" required />
    </fieldset>
    <fieldset>
      <label for="email">Your Email:</label>
      <input type="email" name="email" required />
    </fieldset>
    <fieldset>
      <label for="message">Your Message:</label>
      <textarea name="message" required></textarea>
    </fieldset>
    <fieldset>
      <div class="h-captcha" data-captcha="true"></div>
      <button type="submit">Send</button>
    </fieldset>
  </form>
</div>

<script src="https://web3forms.com/client/script.js" async defer></script>

<style>
  div {
    padding-inline: 3rem;
  }
  form {
    display: flex;
    flex-direction: column;
    max-width: 450px;
  }
  fieldset {
    outline: none;
    border: none;
    display: flex;
    flex-direction: column;
  }
  textarea {
    height: 150px;
  }
  button {
    background: var(--clr-accent);
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: 100vw;
    border: none;
  }
  input,
  textarea {
    font-size: var(--fs-400);
    padding: 0.6rem;
  }
</style>
