---
---

<footer class="w-full p-4 md:p-8 lg:p-10 border-t bg-gray-800">
  <div class="mx-auto max-w-screen-xl text-center">
    <a href="/" class="text-2xl font-semibold text-orange-500">QuillArcadia</a>
    <p class="my-6 text-gray-600"></p>
    <ul class="flex flex-wrap justify-center items-center mb-6 text-white">
      <li>
        <a href="/" class="mr-4 hover:underline md:mr-6">Home</a>
      </li>
      <li>
        <a href="/dashboard" class="mr-4 hover:underline md:mr-6">Dashboard</a>
      </li>
      <li>
        <a href="/contact" class="mr-4 hover:underline md:mr-6">Contact</a>
      </li>
      <li>
        <a href="/privacy" class="mr-4 hover:underline md:mr-6">Privacy</a>
      </li>
      <li>
        <a href="/terms" class="mr-4 hover:underline md:mr-6"
          >Terms & Conditions</a
        >
      </li>
    </ul>
  </div>
</footer>
