---
export interface Props {
  sticky: boolean
}
const { sticky } = Astro.props
---

<nav
  class={"w-full z-20 top-0 left-0 transition-all duration-700 ease-in-out" +
    (sticky ? " bg-[rgba(0,0,0,0.5)] fixed" : " bg-[rgb(255,90,31)]")}
>
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a href="/" class="flex items-center">
      <span
        class="self-center text-4xl font-semibold whitespace-nowrap text-white font-serif"
        >QuillArcadia</span
      >
    </a>
    <div class="flex md:order-2">
      <a
        href="/dashboard"
        type="button"
        class="text-white bg-lime-500 hover:bg-lime-800 focus:ring-4 focus:outline-none focus:ring-lime-300 font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0"
        >Dashboard</a
      >
      <button
        data-collapse-toggle="navbar-sticky"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
        aria-controls="navbar-sticky"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
      </button>
    </div>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-sticky"
    >
      <ul
        class="flex flex-col p-4 md:p-0 mt-4 font-medium md:text-xl border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0"
      >
        <li>
          <a
            href="/"
            class="block py-2 pl-3 pr-4 rounded md:hover:text-gray-800 md:hover:underline md:p-0 text-white hover:bg-orange-500 md:hover:bg-transparent"
          >
            Home
          </a>
        </li>
        <li>
          <a
            href="/#about"
            class="block py-2 pl-3 pr-4 rounded md:hover:text-gray-800 md:hover:underline md:p-0 text-white hover:bg-orange-500 md:hover:bg-transparent"
          >
            About
          </a>
        </li>
        <li>
          <a
            href="/#features"
            class="block py-2 pl-3 pr-4 rounded md:hover:text-gray-800 md:hover:underline md:p-0 text-white hover:bg-orange-500 md:hover:bg-transparent"
            >Features</a
          >
        </li>
        <li>
          <a
            href="/#contact"
            class="block py-2 pl-3 pr-4 rounded md:hover:text-gray-800 md:hover:underline md:p-0 text-white hover:bg-orange-500 md:hover:bg-transparent"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  const header = document.querySelector("nav")

  window.addEventListener("scroll", () => {
    if (window.scrollY < 300) {
      header?.classList.add("bg-[rgba(0,0,0,0.5)]")
      header?.classList.remove("bg-[rgb(255,90,31)]")
    } else {
      header?.classList.add("bg-[rgb(255,90,31)]")
      header?.classList.remove("bg-[rgba(0,0,0,0.5)]")
    }
  })
</script>
